
body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    background-color:#D6D6D7 ;
    /* sc */
}
.topbar{
    display:flex;
    box-shadow:2px 2px 2px #D6D6D7;
    justify-content: space-between;
    align-items: center;
    height:60px;
    font-family: 'Poppins', sans-serif;
    position: fixed;
    top:0;
    left:0;
    width:100%;
    background-color: aliceblue;
    /* margin-bottom: 70px; */
}

.mainlogo{
    display:flex;
    align-items: center;
    margin-left:25px;
    font-family: 'Poppins', sans-serif;
    
}

.mainlogo h1{
    font-weight: 700;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.logo{
    width:30px;
    height:30px;
    margin-right:5px;
}

.logout{
    margin-right:25px;
}

.navitems{
    margin-right:900px;
}

.item{
    margin-left:5px;
    margin-right:5px;
    font-weight: 600;
    text-transform: capitalize;
}





.mainpage{
    margin-top:70px;
    width:100%;
    /* height:100vh; */
    background-color: #F6F7FB;
    display: flex;
}


.leftsection{
    width:20%;
    /* height:100vh; */
    /* background-color:.F ; */
}

.leftwrapper{
    margin: 25px;
    margin-left:90px
}

.product{
    font-weight:bolder;
}

.filters{
    font-weight: bolder;
    
}





.rightsection{
    width:80%;
    /* height:100; */
   

}

.rightwrapper{
    width:80%;
    height:80%;
    /* border:1px solid black; */
    /* margin-top:300px; */
    /* justify-content: start; */
    /* background-color: red; */
    /* padding-left: 150px; */
    margin-top: 100px;
    margin-right:30px;
    box-sizing: border-box;
}

.table{
    /* border:1px solid black; */
    border-collapse: collapse;
    /* border-spacing: 100px; */
    /* width:500px; */
}

/* .table-head{
    border: 1px solid black;
    width:50px;
    padding-left: 50px;
    padding-right: 50px;
    border:1px solid black;
    
} */

.id{
    width:450px;
    /* border:1px solid black; */
    padding-left: 0;
    padding:12px 24px;
    font-size: 14px;
    color: #909593;
    font-weight: 600;
}
.productname{
    width:550px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
   font-weight: 600;
}
.productbrand{
    width:650px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
    font-weight: 600;
}
.expirydate{
    width:350px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
     color: #909593;
     font-weight: 600;
   
}
.orderTime{
    /* font-weight: 500; */
    font-size: 14px;
    color: #909593;
    
}
.unitprice{
    width:70px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
    font-weight: 600;
}
.stock{
    width:107px;
    /* border:1px solid black; */
    padding:12px 24px;
    font-size: 14px;
    /* font-size: 14px; */
}
.bold{
    font-weight: bolder;
    font-size: 14px;
    /* margin-top:0px; */
    background-color: #F6F7FB;
    color: black;
    font-weight: 900;
}
.grey{
    color: #909593;
    font-weight: 900;  
    font-family: 'Poppins', sans-serif; 
}

.tablerow{
    width:100%;
    box-shadow: 2px 4px 4px  #F6F7FB;
    background-color:white;
   border-bottom:5px solid #F6F7FB;
    /* border:1px solid black; */
    /* display: flex; */
    /* text-align: center; */
   /* align-items: center; */
}

.anctag{
text-decoration: none;
color: black;
}

.taganc{
    text-decoration: none;
    color:black
}